<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.vizbash.grapevine">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />

    <application
        android:name=".GrapevineApp"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_grape"
        android:label="@string/launcher_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Grapevine">

        <service
            android:name=".network.bluetooth.BluetoothService"
            android:exported="false" />

        <service
            android:name=".GrapevineService"
            android:exported="false" />

        <activity
            android:name=".StartupActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.Grapevine.Startup">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.main.MainActivity" />

        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/login_title"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.newprofile.NewProfileActivity"
            android:label="@string/identity_creation"
            android:parentActivityName=".ui.login.LoginActivity" />

        <activity
            android:name=".ui.chat.ChatActivity"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/Theme.Grapevine.NoActionBar" />

    </application>

</manifest>